footer
  .footer-content
    .footer-links
      p Contact Us        
      p View Our Cookie Policy       
      p Our Privacy Policy      
    .social-button-group
      a.fa.fa-twitter.fa-social(href='https://twitter.com/undreamtmayhem')        
      a.fa.fa-facebook.fa-social(href='https://www.facebook.com/UndreamtMayhem')        
      a.fa.fa-google.fa-social(href='https://plus.google.com/117941782116734110521')         
      a.fa.fa-instagram.fa-social(href='https://www.instagram.com/undreamtmayhem/')         
      a.fa.fa-snapchat-ghost.fa-social(href='https://www.snapchat.com/add/undreamt-mayhem')       
    .bottom-footer
      p Nightlife&copy;2017. All Rights Reserved

script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
  crossorigin="anonymous")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js", integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf", crossorigin="anonymous")
script(src='/js/main.js')